.codeBox {
  position: relative;
}
.btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid rgba(31, 35, 40, 0.15);
  border-radius: 6px;
  -webkit-appearance: none;
  appearance: none;
  height:36px;
  border-bottom-color: rgba(31, 35, 40, 0.15);
  margin: 8px;
  color: rgb(36, 41, 47);
  border-radius: 6px;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 0;
}
.btn:hover {
  box-shadow: (31, 35, 40, 0.04) 0px 1px 0px 0px;
  background-color: rgb(235, 236, 240)
}
.codeBox:hover .btn:global(.on) {
  display: block!important;
}
svg {
  color: rgb(101, 109, 118);
  fill: rgb(101, 109, 118);
  padding: 8px;;
  line-height: 20px;
}