---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Tyler. All rights reserved.
	<br/>
			<a
				target="_blank"
				href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42011102004084"
				style="display:inline-block;text-decoration:none;height:20px;line-height:20px;font-size:14px;margin: 10px;color: #444;"
			>
				
				鄂公网安备 42011102004084号 <img src="/img/gongan.png" height="15" style="height: 15px"/>
			</a>
			<br/>
		<a
			href="https://beian.miit.gov.cn"
			target="_blank"
			style="display:inline-block;text-decoration:none;height:20px;line-height:20px;font-size:14px;color: #444;"
		>
			鄂ICP备18028144号-1
		</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
