
<body>
  <slot></slot>
  <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-CNEYZL0T0F"></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CNEYZL0T0F');
  </script>
</body>