
<body>
  <slot></slot>
  <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-CNEYZL0T0F"></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CNEYZL0T0F');
  </script>
  <script is:inline>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?1f3bc218673c31810c80f972e635e39c";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</body>